<div class="comment-form">
  <%= form_with(model: [@shop, @comment]) do |f| %>
    <div class="input-field">
      <%= f.text_area :content %>
      <div class="actions">
      <%if user_signed_in?%>
        <%= f.submit "送信" %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>