<%= form_with(model: [@shop, comment] ) do |form| %>
  <div>
    <%
=begin%>
 <%= form.label :質問する %> 
<%
=end%>
    <%= form.text_area :comment_content %>
  </div>
  <div class="actions">
    <%= form.submit "お店に質問する" %>
  </div>
<% end %>