    <div class="jumbotron">
      <div class="container">
      <br><br><br><br>
        <h1><strong>地元でお買い物</strong></h1>
        <br>
        <h5 class = "midasi">買い物に出かけたいけどなかなか行けなくなった、、<br>
        従来よりコミュニケーションの場として活躍してきた地元の商店街<br>
        そこには他にはない人と人とのふれあいがある<br>またふれあってほしい<br>
        そんな思いからこのアプリは産まれました</h5>
        <%
=begin%>
 <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a> 
<%
=end%>
<br><br>
        <%= link_to '中に入る', shops_path, class:"btn" %>
      </div>
    </div>