    <div class="jumbotron">
      <div class="container">
      <br><br><br><br>
        <h1><strong>地元でお買い物</strong></h1>
        <h6>サブテキストサブテキストサブテキストサブテキストサブテキストサブテキスト</h6>
        <%
=begin%>
 <a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a> 
<%
=end%>
<br><br>
        <%= link_to 'アプリに入る', shops_path, class:"btn btn-primary" %>
      </div>
    </div>