
// @import "bootstrap-sprockets";
// // Custom bootstrap variables must be set or imported *before* bootstrap.
// @import "bootstrap";


.navbar-custom .nav-item {
  color: white;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
}


.text-center{
  width: auto;
}

.jumbotron {
	padding-top: 0px;
  background: image-url("1469857_l.jpg");
	background-size: cover;
  background-position: 100% 50%;
  height: 100vh;
  color: white;
}

.midasi{
  line-height: 35px;
}
// .jumbotron-extend {
//   position: relative;
//   height: 100vh;
//   min-height: 300px;
// }
// .content {
// 	margin: 0;
// 	padding: 0;

// 	display: flex;
// }

// // nav {
// // 	padding-bottom: 1em;
// // 	background: #acd2f5e5;
// // 	text-align: left;
// // 	padding: 1em;
// // }

// // ul {
// // 	list-style: none;
// // 	margin: 0;
// // 	padding: 0;
// // 	padding-right: 5em;
// // }

li {
	margin: 0;
  padding: 0.5em;
  color: white;
	// letter-spacing: 0.354em;
}


// a {
// 	color: #5507FF;
// 	text-decoration: none;
// }

// a:hover {
// 	background: none;
// 	color: white;
// }

// main {
// 	padding: 1.5em;
// }



body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

// pre {
//   background-color: #eee;
//   padding: 10px;
//   font-size: 11px; }

// a {
//   color: #000; }

// a:visited {
//   color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

// th {
//   padding-bottom: 5px; }

// td {
//   padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px;
  width: 300px;
}

// #notice {
//   color: green; }

.field_with_errors {
  padding: 2px;
  background-color: #ff69b4;
  display: table;
}

// #error_explanation {
//   width: 450px;
//   border: 2px solid #20b2aa;
//   padding: 7px 7px 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;
// }

// #error_explanation h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px -7px 0;
//     background-color: #20b2aa;
//     color: #fff;
// }

// #error_explanation ul li {
//   font-size: 12px;
//   list-style: square; }

// label {
//   display: block; }

.btn {

  display: inline-block;
  /* background-color: #3B5998; */
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgb(66, 138, 231);
  border: solid 2px rgb(66, 138, 231);
  border-radius: 3px;
  transition: .4s;
  margin-left: 0px;
}
.rounded-circle {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  150px;       /* ※縦横を同値に */
  height: 150px;       /* ※縦横を同値に */
  object-fit: cover;
}



// // .notice, #notice {
// // 	background: #ffb;
// // 	border-radius: 0.5em;
// // 	border: solid 0.177em #882;
// // 	color: #882;
// // 	font-weight: bold;
// // 	margin-bottom: 1em 1.414em;
// // 	text-align: center;

// // }

// // article {
// // 	padding: 1.414em;
// // 	background: white;
// // 	border-radius: 1.5em;
// // 	margin: 1.414em;
// // 	font-size: smaller;
// // }

// .shop_form {
// 	padding: 0 1em;
// }

// input[type="submit"] {
// 	font-weight: bold;
// 	margin-top: 1em;
// }

// #error_explanation2 {
//   width: 450px;
//   padding: 7px 7px 0;
//   margin-bottom: 20px;

// }

// #error_explanation2 h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px -7px 0;
//     background-color: #20b2aa;
//     color: #fff;
// }

// .btn.btn-normal {
//   border: 1px solid #ff5a5f;
//   background-color: #ff5a5f;
// }
